
.sertch{
background-color:#ffe7d5;
margin:5px 300px 5px 300px;
text-align: center;
padding:5px 5px 5px 5px;
-webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
}
.logincss{
background-color:#DDA0DD;
margin:-8px;
padding:10px;
}
.header{
background-color:#DDA0DD;
margin:-8px;
padding:10px;
}
.userName{
display:block;
}
.home{
text-align:left;
margin:10px;
float: left;
}
.sonota{
text-align: right;
margin:10px;
}
.management{
    margin:16px;
}
.messagemenu{
    margin:16px;
}
.signup{
    margin:16px;
}
.iogout{
    margin:16px;
}
.home #top{
display:inline-block;
margin: 10px
}
.header p{
display:inline-block;
margin: 1px
}
.message{
background-color: #DDA0DD;
margin: 0px 50px 0px 50px;
padding: 20px;
-webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
}
.message2{
background-color: #ffe7d5;
margin: 3px 10px 3px 10px;
padding: 10px;
-webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    box-shadow:1px 1px 1px 1px;
}
.tableCss{
background-color: #DDA0DD;
margin: 5px 300px 5px 300px;;
padding: 10px;
-webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
}
tr{
background-color: #ffe7d5;
}
.signupcss{
background-color: #DDA0DD;
margin: 30px 300px 10px 300px;
padding: 10px;
-webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
}
.subject{
 font-size: 1.5rem;
text-align:left;
float: left;
}
.date{
text-align: right;
margin:10px;
border-bottom: 3px dotted #ffe7d5;
}
.textcss{
border-bottom: 3px dotted #ffe7d5;
}
.category{
text-align:left;
float: left;
}
.account-name{
text-align: right;
margin:10px;
}
.comments{
   border-bottom: 3px dotted #DDA0DD;
}
.commenttitle{
   border-bottom: 3px dotted #DDA0DD;
}
.errorMessage{
margin: 0px 400px 0px 400px;
color: #FF0000;
}





figure.hover-parent {
width: 50px;
height: 50px;
position: relative;
margin-bottom: 1px;
overflow: hidden;
}


figcaption.hover-mask {
width: 50px;
height: 50px;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0,0,0,0.5);
opacity: 0;
color: #fff;
display: flex;
align-items: center;
text-align: center;
padding: 1px;
}

figure.hover-parent:hover .hover-mask {
opacity: 1;
}











{position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;

  width: 128px;
  height: 64px;}







 .a {background-color:#ffe7d5;}
.b {background-color:brown;
width:400px;
padding:10px 10px 20px 5px;
box-shadow:1px 1px 1px 1px;}
.c {color:black font-size: 1.5em;}
.d {background-color:orange;
	padding: 5px;
	width:400px;
	margin-top:10px;
	border-radius: 15px;}
.e {color:white;
	font-weight: bold;}


・内側の余白
padding:10px 10px 20px 5px;

・外側の余白
margin:10px 10px 20px 5px;

※・上、右、下、左の時計回りで表示
場所の指定は後ろに場所を描く


文字を太く
font-weight: bold;




角を丸くする
特定の場所のみ
-webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 30px;
    -webkit-border-bottom-left-radius: 40px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 30px;
    -moz-border-radius-bottomleft: 40px;


影を落とす
    text-shadow:1px 1px 1px 1px
    box-shadow:1px 1px 1px 1px